spring:
  datasource:
    url: jdbc:postgresql://localhost:5446/postgres
    username: jwt_user
    password: changemeinprod!
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect